@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap')
layer(base);

@config '../../tailwind.config.js';
@import "tailwindcss";

:root {
  @apply bg-greys-900;
  font-family: Inter, Inter Fallback;
  font-style: normal;
  scroll-behavior: smooth;
}
